## 用户对应的nginx配置文件模板
#foreach(${usernode} in ${user.nodeConfigs})
if ( $user_node = "${user.account}-${usernode.host}") {
## jupyter反向代理
#if(${jupyter}) 
    proxy_pass http://172.16.10.${usernode.host}:${usernode.portMap[0][0]}$true_uri;
## vscode反向代理
#else
    proxy_pass http://172.16.10.${usernode.host}:${usernode.portMap[1][0]}$true_uri;
#end
    break;
}
#end