<p>
	用户${user.account}（${user.address}）：
</p>
<p>
	&nbsp;您好！这是一封来自IDRB实验室在线平台IDEonline的通知邮件。系统已于近期完成升级，统一了两大在线平台的入口，可以在侧边栏进行快捷平台切换。
</p>
<p>
	&nbsp;此外，引入后台任务功能。用户登出后，没有后台任务会自动关闭容器节省资源。后台任务管理在侧边栏可见。
</p>
<p>
	补充：
</p>
<p>
	&nbsp;1.单次最大有效登录时长24h，超时会自动登出并10秒后关闭容器。
</p>
<p>
	&nbsp;2.登出后10秒内若重新登录，容器不会关闭，即你与后台比手速。
</p>
<p>
	&nbsp;3.后台任务管理列表中终止任务，不一定能够保证你的任务进程被杀死（有些进程会忽视终止信号）。但它不再会阻碍后台容器关闭。
</p>
<p>
	&nbsp;4.修复了登录页面平台选择无效的问题。通过其选项可以选择默认进入的平台。同时可以在平台侧边栏切换。
</p>
<p>
	&nbsp;5.第一次通过侧边栏切换平台，对应平台才会被加载（此时有一定耗时）。此后切换平台时不会重新加载。<strong>故不用担心切换平台导致原先平台的前台程序终止</strong>。
</p>
<p>
	<br />
</p>
<p style="text-align:right;">
	IDEonline后台管理系统
</p>
<p style="text-align:right;">
	${date}
</p>

