<p>
	用户${user.account}（${user.address}）：
</p>
<p>
&nbsp;再次提醒一下，使用平台跑模型等长时间任务，请利用左侧工具栏新建后台任务。
</p>
<p>
&nbsp;网络连接中断、关闭浏览器页面等操作<strong>后五分钟</strong>，若没有后台任务，会自动登出账户，并关闭后台容器（用户点击登出按钮，则10秒后关闭容器）。
</p>
<p>
&nbsp;后台任务配置中，命令选项请使用绝对路径，如<strong>/usr/bin/python</strong>，只打一个python不一定能够正确找到命令。
</p>
<p>
	<br />
</p>
<p style="text-align:right;">
	IDEonline后台管理系统
</p>
<p style="text-align:right;">
	${date}
</p>

