<p>
    用户${user.account}（${user.address}）：
</p>
<p>
&nbsp;您好！这是一封来自IDRB实验室在线平台IDEonline的通知邮件。系统已于近期完成升级，新系统统一了两大在线平台的入口（登录不用选择平台），可以在侧边栏进行快捷平台切换。
</p>
<p>
&nbsp;此外，引入后台任务功能。用户登出后，没有后台任务会自动关闭容器节省资源。后台任务管理在侧边栏可见。
</p>
<p>
有什么使用问题，请咨询IDEonline开发者，虽然很多时候他也不会。
</p>
<p>
    <br />
</p>
<p style="text-align:right;">
    IDEonline后台管理系统
</p>
<p style="text-align:right;">
    ${date}
</p>